.signup__form__block{
	display: flex;
	flex-wrap: wrap;
}
.form__block__item{
	width: 234.5px;
	border-bottom: 0.7px solid #f2f2f2;
	padding-bottom: 6.3px;
	margin-right: 15.1px;
	margin-bottom: 16.5px;
}
.nationality{
	position: relative;
	&::after{
		content: '';
		position: absolute;
		width: 8px;
		height: 4px;
		right: 0;
		top: 31px;
		background: url(../icons/shape.png) no-repeat;
	}
}
.day{
	position: relative;
	&::after{
		content: '';
		position: absolute;
		width: 8px;
		height: 4px;
		right: 0;
		top: 28px;
		background: url(../icons/shape.png) no-repeat;
	}
}
.email{
	position: relative;
	&::after{
		content: '';
		position: absolute;
		width: 11px;
		height: 8px;
		right: 0;
		top: 28px;
		background: url(../icons/shape-2.png) no-repeat;
	}
}
.form__block__item--date{
	border: none;
}
.form__block__item input{
	border: none;
	width: 168px;
	height: 21px;
	line-height: 16px;
	text-align: left;
	vertical-align: top;
}
label{
	display: block;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: #7C7C7C;
	padding-bottom: 4.9px;
}
.block__item--date__wrapper{
	display: flex;
}
.number{
	border-bottom: 1px solid #f2f2f2;
	width: 56px;
	margin-right: 9.8px;
}
.month{
	width: 91px;
	margin-right: 9.8px;
	border-bottom: 1px solid #f2f2f2;
}
.year{
	width: 67.7px;
	border-bottom: 1px solid #f2f2f2;
}
.gender{
	display: flex;
}
.gender__wrapper{
	display: flex;
	margin-right: 19px;
}
.form__block__btns{
	display: flex;
	justify-content: space-between;
	padding-bottom: 32.5px;
	padding-top: 58.5px;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	padding-right: 22px;
}
.have_acc{
	padding-top: 9px;
}
.block__btns--login{
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	text-decoration: underline;
}
.block__btns--complete{
	padding: 7px 26px 7px 25px;
	background-color: #5A61ED;
	font-family: PT Sans;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	margin-right: 22px;
	
}