.signup__block{
	padding-top: 38.5px;
	padding-left: 20.8px;
	width: 527.8px;
	height: 480px;
}
.login-signup__header__title{
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
}
.login-signup__header__text{
	padding-bottom: 20px;
}